* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Inter", sans-serif;
    text-align: center;
}

.charge{
 
    background: url('./assets/Images/pokebola.gif');
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100vh;
   
}

.hide{
    display: none;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

.logo{
    padding: 3rem;
}

  .welcome{
    color: red;
    letter-spacing: 0.5rem;
    font-family: "Inter", sans-serif;
  }

  .sub-title{
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }

  .button-section{
    display: flex;
    margin-top: 20px;
  }

  input{
    width: 362px;
    height: 48px;
    padding: 10px;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    opacity: 80%;
  }

  .submit-button{
    height: 50px;
    width: 160px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
  }

  .footer-red{
    background: linear-gradient(180deg,#dd1a1a 60%, #0c0c0c 50%);
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .pokeball{
    height: 120px;
    width: 120px;
    margin-top: 32px;
  }

  .footer-pokedex{
    background: linear-gradient(180deg,#dd1a1a 60%, #0c0c0c 50%);
    width: 100vw;
    position:absolute;
    top: 0;
    height: 150px;
    display: flex;
    align-items: center;
  }

  .welcomes{
    margin-top: 200px;
    color: #dd1a1a;
    text-align: start;
    font-family: "Inter", sans-serif;
  }

  .sub-header{
    color: #0c0c0c;
    font-family: "Inter", sans-serif;
  }

  .logo-index{
    width: 400px;
    margin-left: 100px;
  }

  .pokeball-index{
    position: absolute;
    top: 43px;
    right: 20px;
    width: 100px;
    height: 100px;
  }

  .header-welcome{
    margin: auto;
    width: 1200px;
    background-color: whitesmoke;
   padding: 2rem;
    
  }

  .search-box{
    display: flex;
    margin-top: 20px;
  }

  .input-search{
    height: 40px;
    opacity: 70%;
    width: 280px;
    font-family: "Inter", sans-serif;
  }

  .search-btn{
    width: 150px;
    border: none;
    background-color: #dd1a1a;
    color: #0c0c0c;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  .pokecard{
    background-color: white;
    text-align: center;
    border: solid 4px lightskyblue;
    border-radius: 5px;
    height: 350px;
  }

  .pokecard >img{
    width: 150px;
    height: 150px;
  }


  .pokecard > h1{
    color: lightgreen;
  }


  .content-card{
    display: inline-block;
   
    padding: 0;
    width: 260px;
    padding: 10px;
  }


  .list-pokemon{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 30px;
    margin-top: 30px;
    
  }
  
  .list-pokemon > li{
    display: flex;
    width: 80px;
  }

  .list-pokemons{
    list-style: none;
   
  }

  .text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;
    font-size: 13px;
    gap: 1rem;
    margin: auto;
    color:#4F4F4F;
  }
 
  .header-card{
    background: radial-gradient(ellipse farthest-corner at top center, #bbddd9 60%, #c0dbec 50%);
  }

  .type{
    font-family: "Inter", sans-serif;
    font-size: 10px;
    color: lightgray;
  }

.inputPaginad{
  overflow-y: hidden;
}

.sprite-detail{
 height: 340px;
 width: 314px;
 position: absolute;
 left: 550px;
 top: 135px;
}

.bg-poke{
  margin-top: 250px;
  height: 180px;
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  
}

.id-container{
  width: 58px;
  height: 34px;
  background-color: transparent;
  color: #416460;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #D3D3D3;
  font-size: 20px;
  margin-top: 15px;
}

.poke-id{
  
}

.content-detail{
  width: 1000px;
  margin: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
}

.hr-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hr-container > hr{
  
    height: 1px;
    width: 35%;
    background-color: #9F9F9F;
    opacity: 30%;
}

.weight{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 12px;
  font-weight: 100;
  color: #0F0F2D;
}

.weight-detail{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-weight: bold;
  color: #0F0F2D;
}

.type-habilities{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.content-type{
  background-color: transparent;
  display: flex;
  margin-top: 15px;
  justify-content: space-evenly;
}

.type-name{
  background-color: #85C9C5;
  height: 30px;
  width: 150px;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  font-weight: 500;
  color: #FFFFFF;
}

.hr-stats{
  display: flex;
  align-items: center;
  
  gap: 1rem;
  margin-top: 100px;
  margin-left: 58px;
  padding-right: 55px;
}

.poke-fill{
  height: 50px;
  height: 50px;
  filter: opacity(0.1) drop-shadow(0 0 0 red);
}

.hr-stats > hr{
  
  height: 1px;
  width: 95%;
  background-color: #9F9F9F;
  opacity: 30%;
  
}

